/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svgIcon {
    width: 1em;
    height: 1em;
  }
  
  .svgIcon path,
  .svgIcon polygon,
  .svgIcon rect {
    fill: #000000;
  }
  
  .svgIcon circle {
    stroke: #000000;
    stroke-width: 1;
  }